<div class="container yellow">
  <div id="profile">

    <form method="post" action="/students/<%= @student.id %>">

      <label for="first_name">First name:</label>
      <input id="first_name" type="text" name="first_name" value= "<%= @student.first_name %>"/>
      <br>

      <label for="last_name">Last name:</label>
      <input id="last_name" type="text" name="last_name" value= "<%= @student.last_name %>"/>
      <br>

      <label for="house_select">Select house:</label>
      <select id="house_select" type="text" name="house_id" value= "<%= @student.house.name %>" >
          <% for house in @houses %>
          <option value=<%=house.id%> <%= "selected" if @student.house_id == house.id%>><%= house.name%></option>
          <% end %>
      </select>
      <br>

      <label for="age">Age:</label>
      <input id="age" type="number" name="age" value= "<%= @student.age %>"/>
      <br>

      <input type="submit" value="Update Student"/>

    </form>

  </div>
</div>
